.btn-primary, 
.modalBtn {
    display: block;
    width: 200px;
    height: 45px;
    border: 2px solid #2292fb;
    line-height: 35px;
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(119, 117, 117);
    margin: 50px 50px;
    border-radius: 10px;
}

.btn-primary button,
.modalBtn button {
    background: none;
    border: none;
    font-size: 18px;
}


.btn-primary:hover,
.modalBtn:hover {
    background-color: darkgray;
    cursor: pointer;
    color: black;
}

@media (max-width: 780px) {

    .btn-primary button {
        font-size: 14px;
    }
    .btn-primary {
        width: 80px;
        height: 50px;
    }
    
}