.experience {
    height: 100vh;
}

.experienceTitle {
    margin-top: 50px;
    margin-bottom: 30px;
}

  .ant-tabs-nav .ant-tabs-tab {
      font-size: 30px;
      color: black;
      

  }

  .ant-tabs-tabpane {
      color: black;
      text-align: center;
      font-size: 25px;
  }

  .ant-tabs-nav {
      text-align: center;
  }

.video {
    border-radius: 10px;
    margin-top: 30px;
}
