.experience {
    height: 70vh;
}

  .ant-tabs-nav .ant-tabs-tab {
      font-size: 30px;
      color: whitesmoke;

  }

  .ant-tabs-nav .ant-tabs {
      color: whitesmoke;
  }

  .ant-tabs-tabpane {
      color: white;
  }

