.home {
    width: 100%;
    height: 100vh;
}

.light-mode {
    background-image: linear-gradient(to bottom right, rgba(14, 104, 104, 0.418) 50%, rgba(44, 102, 46, 0.281) 50%);
    transition: background-color 0.25s ease-out;
}

.light-mode nav {
    transition: background-color 0.25s ease-out;
  }

.dark-mode {
    background-image: linear-gradient(to bottom right, rgba(14, 20, 104, 0.884) 50%, rgba(211, 23, 48, 0.767) 50%);
    color: white;
    .light-mode nav {
        transition: background-color 0.25s ease-out;
      }
}

.dark-mode h1 {
    color: white;
}

.dark-mode nav {
    background-color: #1b2938;
}

nav {
    width: 100%;
    display: flex;
    background-color: steelblue;
    padding: 20px;
  }
  
  main {
    padding: 0.5em;
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.1;
    height: 90vh;
  }
  
  h1 {
    margin: 0;
  }
  
  .toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"].checkbox {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: cyan;
  }
  
  .toggle-container {
    display: flex;
    margin: 0 auto;
  }
  
  .toggle-container > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
  }
  
  .toggle-container > span:last-child {
    margin-top: 5px;
  }

.title {
    text-align: center;
    line-height: 200px;
}

.icons {
    text-align: center;
    font-size: 1.7rem;
    margin: 30px 30px;
    
}

.iconsGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    font-size: 1.3rem;
    display: block;
}