.home {
    width: 100%;
    height: 100vh;
}

.light-mode {
    background-image: linear-gradient(to bottom right, rgba(14, 104, 104, 0.418) 50%, rgba(44, 102, 46, 0.281) 50%);
}

.dark-mode {
    background-image: linear-gradient(to bottom right, rgba(14, 20, 104, 0.884) 50%, rgba(211, 23, 48, 0.767) 50%);
    color: white;
}

.dark-mode h1 {
    color: white;
}

.dark-mode nav {
    background-color: #1b2938;
}

.title {
    text-align: center;
    line-height: 200px;
}

.icons {
    text-align: center;
    font-size: 1.7rem;
    margin: 30px 30px;
    
}

.iconsGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    font-size: 1.3rem;
    display: block;
}