.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(14, 104, 104, 0.418) 50%, rgba(44, 102, 46, 0.281) 50%);
}

.navbar_items li:hover {
    background-color: #555;
}

.navbar .navbar_items ul {
    display: flex;
}

.navbar .navbar_items ul li,
.signature {
    text-transform: uppercase;
    padding: 1rem;
}

.navbar .navbar_items ul li a,
.signature a{
    color: black;
}