.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 1vh;
    
}

.navbar_items li:hover {
    background-color: #555;
    border-radius: 20px;
}

.navbar .navbar_items ul {
    display: flex;
}

.navbar .navbar_items ul li,
.signature {
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 1.1rem;
    margin-left: 5px;
}


.signature h1 {
    letter-spacing: 0.2cm;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0px 300px 0px 50px;
}