.projects {
    background-color: grey;
}

.title2 {
    color: black;
    text-align: center;
}

.cards-grid {
    display: flex;
    justify-content: center;
}

.ant-card.ant-card-bordered.ant-card-hoverable.card {
    margin: 20px;
}
